{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="icon" type="image/png" href="/assets/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Proteus Leather Club" />
<link rel="manifest" href="/assets/favicon/site.webmanifest" />
<script defer src="https://umami.raccoon-codlet.ts.net/script.js" data-website-id="dfc48547-898f-4f0b-aa73-bc98e86a979d" data-domains="proteusleather.club"></script>
