
.chapter-spacer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }

  .homepage-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }